.description {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr auto;
    background-color:rgb(43, 43, 53);
}


.descriptionUnderlineClass {
    border-bottom: solid rgb(212, 144, 17);
    border-width: 10px;
    width: auto;
}

body {
    min-width: 330px;
    max-width: 100%;
    margin: 0%;
}


.descLeftClass {
    display: flex;
    flex-direction: column;
    row-gap: -10px;
    margin-top: 35px;
}

@media only screen and (max-width: 700px) {
    .descLeftClass {
        margin-top: 15px;
    }
}

#nameId {
    text-align: left; 
    font-size: 20px;
    color: #ffffff;
    margin-left: 5vw;
    margin-bottom: -10px;
    
}

#aboutMeButtonId {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: auto;
    font-size: 20px;
    background-color: rgb(212, 144, 17);
    color: #ffffff;
    border-color: rgb(107, 107, 107);
    border-width: 0px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

#aboutMeButtonId:hover {
    background-color:rgb(255, 175, 26);
}


@media only screen and (max-width: 700px) {
    #aboutMeButtonId {
        min-width: auto;
    }
}

.descRightClass {
    font-size: 10px;
    text-align: right;
    margin-top: 12px; 
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin-right: 5vw;
    
}

@media only screen and (max-width: 700px) {
    .descRightClass {
        font-size: 8px;
    }
}

.title {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.underline {
    width: 150px;
    height: 5px;
    margin-top: -20px;
    margin: -20px auto 10px;
    border: 20px;
    background-color: rgb(212, 144, 17);
    margin-bottom: 50px;
}

.buttonsClass {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    grid-gap: 1em;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

button {
    font-size: 15px;
    color: rgb(255, 255, 255);
    border-color: rgb(212, 144, 17);
    border-radius: 5px;
    padding: 2px 5px;
    background-color: rgb(212, 144, 17);
    font-weight: 1000;
    
    position: relative;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    display: inline-block;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
button:after {
    content: "";
    background: rgb(255, 255, 255);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

button:hover {
    background-color:rgb(255, 175, 26);
}


.sectionCentreClass {
    display: grid;
    grid-gap: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5vw;
    margin-right: 5vw;    
    height: fit-content;
    justify-content: center;
    margin-bottom: 200px;
}

h4 {
    margin-top: 0;
}


.menuItemClass {
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    width: auto;
    max-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
}

@media only screen and (max-width: 700px) {
    .menuItemClass {
        flex-wrap: wrap;
        width: 300px;
        margin: 10px;
    }
}

.photoClass {
    border: 3px solid rgb(212, 144, 17);
    height: 250px;
    width: 350px;
    border-radius: 10px;
    margin-right: 0px;

}

@media only screen and (max-width: 700px) {
    .photoClass {
        height: 220px;
        max-width: auto;
        width: 290px;
        margin-left: 0%;
    }
}


.itemInfoClass {
    margin-left: 10px;
    margin-right: 0;
    width: 250px;
    
    
}

@media only screen and (max-width: 700px) {
    .itemInfoClass {
        max-height: 100%;
        min-width: 200px;
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
    }
}

#underlineMenu {
    width: auto;
    height: 2px;
    margin-top: -20px;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
    border: 20px;
    background-color: rgb(212, 144, 17);

}

@media only screen and (max-width: 700px) {
    .underlineMenu {
        max-height: 100%;
        min-width: 200px;
        width: auto;
        margin-left: 5%;
    }
}

.itemTextClass {
    margin-left: 0%;
}

@media only screen and (max-width: 700px) {
    .itemTextClass {
        max-height: 100%;
        min-width: 200px;
        width: auto;
    }
}

.gitLink {
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

.gitLink:hover {
    text-decoration: underline;
    text-decoration-color:rgb(231, 158, 21);
    text-decoration-thickness: 4px;
}



.aboutMeContainer {
    
    grid-gap: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 25vw;
    margin-right: 25vw;    
    height: fit-content;
    justify-content: center;
    width: auto;
}

@media only screen and (max-width: 700px) {
    .aboutMeContainer {
        margin-left: 5vw;
        margin-right: 5vw; 
    }
}

.technologyInfo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: center;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 200px;
    
}

.mainTechDesc {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 75px;
    color: rgb(243, 166, 22);
    font-weight: bolder;
}




.techInfo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-width: auto;
    font-size: 20px;
    background-color:rgb(243, 166, 22);
    color: #ffffff;
    width: 120px;
    border-width: 0px;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.techInfo:hover {
    background-color:rgb(255, 175, 26);
}


@media only screen and (max-width: 700px) {
    .techInfo {
        width: 85px;
        font-size: 15px;
    }
}

.techInfo {
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .technologyInfo {
        margin-left: 25vw;
        margin-right: 25vw;
    }
}


.underlineTechStack {
    width: 100px;
    height: 5px;
    margin-top: -20px;
    margin: 20px auto 10px;
    border: 20px;
    background-color:rgb(43, 43, 53);
    margin-bottom: 50px;
}

.introduction{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5vw;
    margin-right: 5vw;
}